# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/shortlink
DB_USERNAME=root
DB_PASSWORD=root

# Chave secreta do JWT (Use uma chave forte em produção)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

# URL do Frontend
FRONTEND_URL=http://localhost:3000

# Configurações de E-mail
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@tremz.in
MAIL_PASSWORD=@MinasGerais10
